.ProductForm {
    margin: 40px 0;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
}
.ProductForm .field{
   margin-bottom: 10px;
}
.ProductForm input, .ProductForm textarea{
   width: 100%;
}


